*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #297bbd;
}

nav img{
    width: 50px;
    height: 41px;
    margin-top: 3px;
    margin-left: 7.7%;
}

.navlinks li{
    display: inline-flex;
    padding: 13px;
    margin-left: 7%;
}

.header{
    background-image: url();
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    position: relative;
    text-align: center;
    color:  rgb(245, 161, 161);
}

nav a{
    list-style: none;
    text-decoration: none;
    color: rgb(245, 161, 161);
    padding-bottom: 8%;
    margin: 8px;
    
}

 .welcome p{
    color: rgb(245, 161, 161);
    text-align: center;
    font-size: x-large;
    padding: 5%;
    margin-top: -60%;
}

footer{
    color: rgb(245, 161, 161);
    text-align: center;
    font-size: larger;
    padding: 3%;
    font-weight: bolder;
}

input{
    text-align: center;
}

form{
    justify-self: center;
    padding-bottom: 8%;
}

h2{
    text-align: center;
    padding-bottom: 3%;
    padding-top:5%;
}